<div class="ui grid">
  <div class="row">
    <div class="four wide column"></div>


    <div class="eight wide column">
      <h2 class="ui center aligned header">

        <div class="content" style="margin: 30px auto;">
          Welcome back
          <div class="sub header">Sign in here</div>
        </div>
      </h2>

      <% if !alert.nil? %>
        <div class="ui red message">
          <div class="header">We noticed some issues</div>
          <ul class="list">
            <li id="error"><%= flash.now[:alert] %></li>
          </ul>
        </div>
      <% end %>

      <div class="ui form segment">
        <%= form_tag sessions_path do %>
          <div class="field">
            <label for="email">Email:</label>
            <div class="ui left labeled icon input">
              <%= text_field_tag :email, nil, :autofocus => true, :autocomplete => 'off', required: true %>
              <i class="mail icon"></i>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <div class="ui left labeled icon input">
              <%= password_field_tag :password, nil, :autocomplete => 'off', required: true %>
              <i class="lock icon"></i>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <%= submit_tag 'Get to it', :class => "ui green submit button" %>
        <% end %>
      </div>
      <div class="ui horizontal divider" style="margin: 40px 0;">
        Or
      </div>
      <div style="text-align: center;">
        <%= link_to new_user_path, class: "ui blue labeled icon button" do %>
          Sign Up
          <i class="signup icon"></i>
        <% end %>
      </div>

    </div>


    <div class="four wide column"></div>
  </div>
</div>