<%= form_for @snippet do |f| %>

  <% if @snippet.errors.any? %>
    <div class="ui red message">
      <div class="header">We noticed some issues</div>
      <ul class="list">
        <% @snippet.errors.full_messages.each do |message| %>
          <li id="error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == "new" %>
    <h3 class="ui large header step-1">Step 1 of 2: Add your code</h3>
  <% end %>

  <hr class="ui divider hidden">

  <div class="ui form">
    <% if action_name == "edit" %>
      <div class="field">
        <%= f.label :image, "Attach screenshot here" %>
        <%= f.file_field :image, :class => "image-arena" %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :html, "HTML" %>
      <%= f.text_area :html %>
    </div>
    <div class="field">
      <%= f.label :css, "Custom CSS" %>
      <%= f.text_area :css %>
      <span class="text-field-note">Semantic 1.0 styles are included by default</span>
    </div>
    <div class="field">
      <%= f.label :js, "Custom JavaScript" %>
      <%= f.text_area :js %>
      <span class="text-field-note">Semantic UI's JS library is included by default</span>
    </div>
  </div>

  <hr class="ui divider hidden">

  <div class="ui form">
    <%= f.submit "Submit", :class => "ui button green" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>