<%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.css" %>

<% if flash[:notice] %>
  <p id="notice" class="ui red message"><%= flash[:notice] %></p>
<% end %>

<style>
  <%= raw @snippet.css %>
</style>

<%= raw @snippet.html %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<%= javascript_include_tag "semantic" %>

<script type="text/javascript">
  <%= raw @snippet.js %>
</script>