<% content_for :title do %>
   <%= @snippet.title %>
<% end %>
<% content_for :subtext do %>
  <div class="ui breadcrumb">
    <%= link_to "Semantic Kit", root_path %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Snippets", snippets_path, class: "section" %>
    <i class="right chevron icon divider"></i>
    <%= @snippet.title %>
  </div>
<% end %>
<% content_for :right_content do %>
<div class="ui inverted basic icon buttons" style="margin-top: 17px;">
  <div class="ui button tooltip" data-content="View Full Screen Preview">
    <i class="expand icon"></i>
  </div>
  <div class="ui button tooltip" data-content="Add to Favorites">
    <i class="heart icon"></i>
  </div>
  <%= link_to new_snippet_path, class: "ui button tooltip", data: { content: "Add a Snippet" } do %>
    <i class="plus icon"></i>
  <% end %>
</div>

<% end %>

<div class="four item tabular ui menu">
  <a class="item active js-preview">Preview</a>
  <a class="item js-html">HTML</a>
  <a class="item js-css">CSS</a>
  <% if @snippet.js.present? %>
    <a class="item js-script">Javascript</a>
  <% end %>
</div>


<div class="preview-box tab-content" style="display: block;">
  <iframe src="/snippets/<%= @snippet.id %>/iframe_content" width="100%" height="500" frameBorder="0" seamless="seamless"></iframe>
</div>

<div class="html-box tab-content">
  <pre class="prettyprint"><%= @snippet.html %></pre>
  </pre>
</div>

<div class="css-box tab-content">
  <pre class="prettyprint"><%= raw @snippet.css %></pre>
</div>

<div class="js-box tab-content">
  <pre class="prettyprint"><%= raw @snippet.js %></pre>
</div>

<div class="ui menu action-bar">
    <%= link_to user_path(@snippet.user), class: "item" do %>
     <i class="icon user"></i>
     <%= @snippet.user.username %>
    <% end %>
    <a class="item"><i class="facebook icon facebook-text"></i>Share</a>
    <a class="item"><i class="twitter icon twitter-text"></i>Tweet</a>
  <% if logged_in? && current_user.can_edit_snippet?(@snippet) %>
    <div class="right menu">
      <%= link_to edit_snippet_path, class: "item" do %>
        <i class="write icon"></i>
        <%= t(:"actions.edit") %>
      <% end %>
        <%= link_to snippet_path(@snippet), method: 'delete', class: "item", :data => { confirm: t(:"actions.confirm_delete") } do %>
          <i class="delete icon"></i>
          <%= t(:"actions.delete") %>
        <% end %>
    </div>
  <% end %>
</div>

<% content_for :javascripts do %>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript">
//horrible code. i was hungover. i'll fix it one day
  $('.js-preview').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.preview-box').show();
  });
  $('.js-html').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.html-box').show();
  });
  $('.js-css').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.css-box').show();
  });
  $('.js-script').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.js-box').show();
  });
</script>
<% end %>