<% content_for :title do %>
  <%= @snippet.title %>
<% end %>
<% content_for :subtext do %>
  By: <%= link_to @snippet.user.username, user_path(@snippet.user) %>
<% end %>

<% content_for :subheader do %>
  <div class="subheader">
    <div class="container">
      <h3 class="ui header inverted">
        <%= @snippet.title %><br>
      </h3>
    </div>
  </div>
<% end %>

<div class="four item tabular ui menu">
  <a class="item active js-preview">Preview</a>
  <a class="item js-html">HTML</a>
  <a class="item js-css">CSS</a>
  <% if @snippet.js.present? %>
    <a class="item js-script">Javascript</a>
  <% end %>
</div>


<div class="preview-box tab-content" style="display: block;">
  <iframe src="/snippets/<%= @snippet.id %>/iframe_content" width="100%" height="500" frameBorder="0" seamless="seamless"></iframe>
</div>

<div class="html-box tab-content">
  <pre class="prettyprint"><%= @snippet.html %></pre>
  </pre>
</div>

<div class="css-box tab-content">
  <pre class="prettyprint"><%= raw @snippet.css %></pre>
</div>

<div class="js-box tab-content">
  <pre class="prettyprint"><%= raw @snippet.js %></pre>
</div>

<%= link_to "Edit", edit_snippet_path %> |
<%= link_to "Delete", snippet_path(@snippet), method: 'delete', :data => { confirm: "are you sure?" } %>

<% content_for :javascripts do %>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript">
//horrible code. i was hungover. i'll fix it one day
  $('.js-preview').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.preview-box').show();
  });
  $('.js-html').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.html-box').show();
  });
  $('.js-css').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.css-box').show();
  });
  $('.js-script').on('click', function(){
    $('.item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    $('.js-box').show();
  });
</script>
<% end %>