<%= form_for @theme do |f| %>

  <% if @theme.errors.any? %>
    <div class="ui red message">
      <div class="header">We noticed some issues</div>
      <ul class="list">
        <% @theme.errors.full_messages.each do |message| %>
          <li id="error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui form">
    <h3 class="ui header gr">Basics</h3>
    <div class="field">
      <%= f.label :name, "Theme Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description, "Description (HTML allowed)" %>
      <%= f.text_area :description, :placeholder => "Info including pages, credits, features, etc." %>
    </div>
    <div class="field">
      <%= f.label :preview_url %>
      <%= f.url_field :preview_url, placeholder: "http://www.example.com/preview" %>
    </div>

    <div class="two fields">
      <div class="field">
        <%= f.label :image, "Preview Image" %>
        <%= f.file_field :image, :class => "image-arena" %>
      </div>

      <div class="field">
        <%= f.label :file_package %>
        <%= f.file_field :file_package, :class => "image-arena" %>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <%= f.label :preprocessors %>
        <%= f.select :preprocessor, options_for_select(Theme::PREPROCESSOR_OPTIONS, f) %>
      </div>
      <div class="field">
        <%= f.label :category %>
        <%= collection_select(:theme, :category_ids, Category.all, :id, :name) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :browsers, "Browser Support" %>
      <% Theme::BROWSER_OPTIONS.each do |browser| %>
        <div clas="ui checkbox">
          <%= check_box_tag browser, browser %>
          <label for="<%= browser %>"><%= browser %></label>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.fields_for :price_list do |p| %>
    <div class="ui form">
      <h3 class="ui header">Price</h3>
      <div class="inline field left icon input ui">
        <%= p.number_field :single_tier, :placeholder => "Single Application" %>
        <i class="dollar icon"></i>
<!--         <div class="ui pointing black left label">
          Single Application - $5 minimum <a href="#"> <i class="question circular icon"></i></a>
        </div> -->
      </div>
      <div class="inline field left icon input ui">
        <%= p.number_field :multiple_tier, :placeholder => "Multiple Applications" %>
        <i class="dollar icon"></i>
<!--         <div class="ui pointing black left label">
          Suggested: Single price x 3 <a href="#"> <i class="question circular icon"></i></a>
        </div> -->
      </div>
      <div class="inline field left icon input ui">
        <%= p.number_field :extended_tier, :placeholder => "Extended Application" %>
        <i class="dollar icon"></i>
<!--         <div class="ui pointing black left label">
          Suggested: Single price x 40 <a href="#"> <i class="question circular icon"></i></a>
        </div> -->
      </div>
    </div>
  <% end %>

  <div class="ui form">

    <h3 class="ui header gr">Add tags</h3>
    <div class="field">
      <%= f.label :tag_list, "Tags (Limit to 10)" %>
      <%= f.text_field :tag_list %>
    </div>

    <%= f.submit "Submit", :class => "ui button green" %>
  </div>
<% end %>