<% content_for :title do %>
  All
<% end %>
<% content_for :subtext do %>
  Themes &amp; Templates
<% end %>

<% content_for :right_content do %>
  <%= link_to new_theme_path do %>
    <div class="ui circular plus icon basic button tooltip" data-content="Sell a theme" style="margin-top: 15px;">
      <i class="plus large icon"></i>
    </div>
  <% end %>
<% end %>

<% content_for :categories do %>
  <div class="ui sub secondary pointing menu">
    <%= nav_link "All", semantic_ui_themes_path %>
    <% Category.order(:name).each do |category| %>
      <%= nav_link category.name, category_path(category) %>
    <% end %>
  </div>

  <% if current_page?(admin_dashboard_path) %>
    <div class="ui message">
      <div class="header">
        <%= t(:"admin.theme_index") %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @themes.any? %>
  <div class="ui two cards bottom-20">
    <%= render partial: "shared/theme", collection: @themes %>
  </div>
<% else %>
  <div class="ui raised segment">
    <%= t(:"themes.none_approved") %>
    <%= link_to "Create a new one", new_theme_path %>
  </div>
<% end %>
