<%= form_for @theme do |f| %>

  <% if @theme.errors.any? %>
    <div class="header">We noticed some issues</div>
      <% @theme.errors.full_messages.each do |message| %>
        <p id="error"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :copyright %>
    <%= f.text_field :copyright %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.fields_for :price_list, @theme.build_price_list do |builder| %>
    <div>
      <%= builder.label :single_tier %>
      <%= builder.number_field :single_tier %>
    </div>
    <div>
      <%= builder.label :multiple_tier %>
      <%= builder.number_field :multiple_tier %>
    </div>
    <div>
      <%= builder.label :extended_tier %>
      <%= builder.number_field :extended_tier %>
    </div>
  <% end %>

  <h3>Add Categories:</h3>
  <p>
    <%= collection_check_boxes(:theme, :category_ids, Category.all, :id, :name) %>
  </p>

  <%= f.submit "Submit" %>
<% end %>