<% content_for :subheader do %>
  <div class="subheader">
    <div class="container">
      <h3 class="ui header">
        <%= @theme.name %>
        <div class="sub header">This is some text</div>
      </h3>
    </div>
  </div>
<% end %>
<div class="ui grid">
  <div class="eleven wide column">
    <div class="ui segment item-show">
      <%= image_tag @theme.default_image_url, :width => "620" %>

      <h3 class="ui dividing inverted header">Description</h3>
      <p><%= @theme.description %> Allow for html to be used by theme creators here.</p>

      <h3 class="ui dividing inverted header">Copyright</h3>
      <p><%= @theme.copyright %></p>
    </div>
  </div>
  <div class="five wide column">

    <div class="column" style="text-align: center;">

      <a href="#" class="ui huge green labeled icon button" style="width: 100%;">
        buy <%= number_to_currency @theme.price_list.single_tier %>
        <i class="tags icon"></i>
      </a>
      <span style="color: #fff; font-size: 0.8em;">we accept paypal and all major cards</span>
    </div>

    <div class="ui segment">
      <header class="ui top attached label"><b>Application License</b></header>
      <div class="ui  list">
        <%= link_to subscriptions_path(id: @theme.id, price: @theme.price_list.single_tier), class: "item", method: :post do %>
          <i class="angle right icon"></i>
          Single
          <div class="right floated ui"><%= number_to_currency @theme.price_list.single_tier %></div>
        <% end %>

        <%= link_to subscriptions_path(id: @theme.id, price: @theme.price_list.single_tier), class: "item", method: :post do %>
          <i class="angle right icon"></i>
          Multiple
          <div class="right floated ui"><%= number_to_currency @theme.price_list.multiple_tier %></div>
        <% end %>

        <%= link_to subscriptions_path(id: @theme.id, price: @theme.price_list.extended_tier), class: "item", method: :post do %>
          <i class="angle right icon"></i>
          Extended
          <div class="right floated ui"><%= number_to_currency @theme.price_list.extended_tier %></div>
        <% end %>
      </div>
    </div>



    <table class="ui table segment">
      <thead><tr><th colspan="2">Theme Details</th></tr></thead>
      <tbody>
        <tr>
          <td>Categories</td>
          <td>
            <% @theme.categories.each do |category| %>
              <%= link_to category.name, category_path(category) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Compatibility</td>
          <td>IE8+<br>Chrome<br>Safari</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td><%= @theme.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></td>
        </tr>
        <tr>
          <td>Released</td>
          <td><%= time_ago_in_words @theme.created_at %> ago</td>
        </tr>
        <tr>
          <td>Download</td>
          <td><%= link_to "Download", @theme.file_package.url %></td>
        </tr>
      </tbody>
    </table>



    <div class="ui segment">
      <header class="ui top attached label"><b>Author</b></header>
      <div><%= link_to @theme.owner.username, user_path(@theme.owner.user) %></div>
    </div>
  </div>
</div>