<% content_for :title do %>
  <%= @theme.name %>
<% end %>
<% content_for :subtext do %>
  <div class="ui breadcrumb">
    <%= link_to "Themes", semantic_ui_themes_path, class: "section" %>
    <i class="right chevron icon divider" style="color: #fff;"></i>
    <% if @theme.categories.first %>
      <%= link_to @theme.categories.first.name, category_path(@theme.categories.first) %>
    <% end %>
    <i class="right chevron icon divider" style="color: #fff;"></i>
    <span class="section"><%= @theme.name %></span>
  </div>
<% end %>


<% if !@theme.approved? %>
  <div class="ui one column grid top-20">
    <div class="column">
      <div class="ui yellow message">
        <div class="header">
          <%= t(:"admin.theme_pending") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="ui grid">
  <div class="eleven wide column">

    <div class="ui segment item-show">
      <%= image_tag @theme.default_image_url, :width => "100%" %>
      <h3 class="ui dividing header">Description</h3>
      <p><%= simple_format(@theme.description) %></p>
    </div>
    <% if logged_in? && current_user.can_edit_theme?(@theme) %>
      <%= link_to t(:"actions.edit"), edit_theme_path %>
    <% end %>
  </div>


  <div class="five wide column">
    <div class="column">
      <%= link_to @theme.preview_url, class: "ui huge blue icon labeled fluid button bottom-20" do %>
        <i class="share icon"></i>
        live preview
      <% end %>
    </div>
    <div class="column" style="text-align: center;">
      <%= call_to_action(@theme) %>
    </div>

    <div class="ui segment">
      <header class="ui top attached label"><b>Application License</b></header>
      <div class="ui list">
        <%= link_to theme_path(@theme.id, license: "single"), class: "item" do %>
          Single
          <div class="right floated ui">
            <%= number_to_currency @theme.price_list.single_tier %>
          </div>
        <% end %>
        <%= link_to theme_path(@theme, license: "multiple"), class: "item" do %>
          Multiple
          <div class="right floated ui">
            <%= number_to_currency @theme.price_list.multiple_tier %>
          </div>
        <% end %>
        <%= link_to theme_path(@theme, license: "extended"), class: "item" do %>
          Extended
          <div class="right floated ui">
            <%= number_to_currency @theme.price_list.extended_tier %>
          </div>
        <% end %>
      </div>
    </div>

    <table class="ui table segment">
      <thead><tr><th colspan="2">Theme Details</th></tr></thead>
      <tbody>
        <tr>
          <td>Category</td>
          <td>
            <% @theme.categories.each do |category| %>
              <%= link_to category.name, category_path(category) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Compatibility</td>
          <td>
            <% @theme.browsers.each do |browser| %>
              <%= browser %><br>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Preprocessor</td>
          <td><%= @theme.preprocessor %></td>
        </tr>
        <tr>
          <td>Tags</td>
          <td><%= @theme.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></td>
        </tr>
        <tr>
          <td>Released</td>
          <td><%= time_ago_in_words @theme.created_at %> ago</td>
        </tr>
        <tr>
          <td>Author</td>
          <td><%= link_to @theme.owner.username, user_path(@theme.owner.user) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>