<% content_for :subheader do %>
  <div class="subheader">
    <div class="container">
      <h3 class="ui header inverted">
        <%= @theme.name %><br>
        <div class="sub header">
          <div class="ui breadcrumb">
            <%= link_to "Themes", themes_path, class: "section" %>
            <div class="divider" style="color: #fff;"> / </div>
            <%= link_to @theme.categories.first.name, category_path(@theme.categories.first) %>
          </div>
        </div>
      </h3>
    </div>
  </div>
<% end %>

<div class="ui grid">
  <div class="eleven wide column">
    <% if !@theme.approved? %>
      <div class="ui message">
        <div class="header">
          <%= t(:"admin.theme_pending") %>
        </div>
      </div>
    <% end %>

    <div class="ui segment item-show">
      <%= image_tag @theme.default_image_url, :width => "620" %>

      <h3 class="ui dividing header">Description</h3>
      <p><%= simple_format(@theme.description) %></p>

      <h3 class="ui dividing header">Copyright</h3>
      <p><%= @theme.copyright %></p>
    </div>
  </div>
  <div class="five wide column">

    <div class="column" style="text-align: center;">
      <%= call_to_action(@theme) %>
    </div>

    <div class="ui segment">
      <header class="ui top attached label"><b>Application License</b></header>
      <div class="ui list">
        <%= link_to theme_path(@theme.id, license: "single"), class: "item" do %>
          <i class="angle right icon"></i>
          Single
          <div class="right floated ui"><%= number_to_currency @theme.price_list.single_tier %></div>
        <% end %>

        <%= link_to theme_path(@theme, license: "multiple"), class: "item" do %>
          <i class="angle right icon"></i>
          Multiple
          <div class="right floated ui"><%= number_to_currency @theme.price_list.multiple_tier %></div>
        <% end %>

        <%= link_to theme_path(@theme, license: "extended"), class: "item" do %>
          <i class="angle right icon"></i>
          Extended
          <div class="right floated ui"><%= number_to_currency @theme.price_list.extended_tier %></div>
        <% end %>

      </div>
    </div>



    <table class="ui table segment">
      <thead><tr><th colspan="2">Theme Details</th></tr></thead>
      <tbody>
        <tr>
          <td>Category</td>
          <td>
            <% @theme.categories.each do |category| %>
              <%= link_to category.name, category_path(category) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Compatibility</td>
          <td>
            <% @theme.browsers.each do |browser| %>
              <%= browser %><br>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Preprocessor</td>
          <td><%= @theme.preprocessor %></td>
        </tr>
        <tr>
          <td>Tags</td>
          <td><%= @theme.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></td>
        </tr>
        <tr>
          <td>Released</td>
          <td><%= time_ago_in_words @theme.created_at %> ago</td>
        </tr>
      </tbody>
    </table>



    <div class="ui segment">
      <header class="ui top attached label"><b>Author</b></header>
      <div><%= link_to @theme.owner.username, user_path(@theme.owner.username) %></div>
    </div>
  </div>
</div>