<% content_for :title do %>
  Edit Profile
<% end %>

<div class="form-wrap card">
  <div class="ui form">
    <%= form_for current_user do |f| %>
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div class="field">
        <%= f.label :website %>
        <%= f.text_field :website %>
      </div>

      <div class="field">
        <%= f.label :about %>
        <%= f.text_area :about %>
      </div>

      <div class="field">
        <%= f.label :password, "Change password" %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit "Save", :class => "ui button green" %>
      <%= link_to "Cancel", user_path(current_user), :class => "secondary-text" %>
    <% end %>
  </div>
</div>