<p>
  <%= @user.username %>
</p>

<p>
  <%= @user.name %>
</p>

<p>
  <%= @user.email %>
</p>

<p>
  <%= @user.location %>
</p>

<p>
  <%= @user.website %>
</p>

<p>
  <%= @user.about %>
</p>

<%= link_to "Edit Profile", edit_user_path %>