<% content_for :title do %>
  Profile
<% end %>
<% content_for :subtext do %>
  keepin it trill
<% end %>

<div class="form-wrap card">
  <div class="ui two column grid">
    <div class="four wide column">
      <div class="ui secondary vertical pointing menu" id="tabs">
        <a class="active item" href="#personal">
          Info
        </a>
        <a class="item" href="#favorites">
          Favorites
        </a>
        <% if current_user && current_user.id == @user.id %>
          <%= link_to edit_user_path, :class => "item" do %>
            Edit <i class="right floated icon share"></i>
          <% end %>
          <%= link_to dashboard_path, :class => "item" do %>
            Dashboard <i class="right floated icon share"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="twelve wide column">

      <div class="right floated ui bordered rounded image">
        <%= image_tag avatar_url(@user) %>
        <% if current_user && current_user.id == @user.id %>
          <%= link_to "Edit Image", "http://www.gravatar.com", target: "_blank" %>
        <% end %>
      </div>

      <!-- Personal Info -->
      <div id="personal" class="main-content">
        <h2 class="ui dividing header" style="margin-top: 7px;">
          <%= @user.username %>
        </h2>
        <h4 class="ui header">About</h4>
        <p class="about"><%= @user.about %></p>
        <p><b>Website:</b> <%= @user.website %></p>
        <p><b>Email:</b> <%= @user.email %></p>
        <p><strong>Location:</strong> <%= @user.location %></p>
      </div>

      <!-- Favorites -->
      <div id="favorites" class="main-content" style="display: none;">
      <h2 class="ui dividing header" style="margin-top: 7px;">
        <%= pluralize(@user.favorites.where(:favorited_type => "Snippet").count, "favorite") %>
      </h2>
        <ul>
          <% @user.favorites.each do |f| %>
            <li class="<%= f.favorited_type %>">
              <%= link_to f.favorited.title, snippet_path(f.favorited_id) %>
              <%= link_to favorite_path(favorited_id: f.favorited_id, favorited_type: f.favorited_type), data: { confirm: "Are you sure?" }, method: :delete, class: "pull-right" do %>
                <i class="icon remove" style="color: #e93e3c;"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>