<% content_for :title do %>
  <%= @user.username %>
<% end %>

<div class="form-wrap card">
  <div class="ui two column grid">
    <div class="four wide column">
      <div class="ui secondary vertical pointing menu" id="tabs">
        <a class="active item" href="#personal">
          Info
        </a>
        <a class="item" href="#favorites">
          Favorites
        </a>
        <% if current_user && current_user.id == @user.id %>
          <%= link_to edit_user_path, :class => "item" do %>
            Edit <i class="right floated icon share"></i>
          <% end %>
          <%= link_to dashboard_path, :class => "item" do %>
            Dashboard <i class="right floated icon share"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="twelve wide column">

      <div class="right floated ui bordered rounded image">
        <%= image_tag avatar_url(@user) %>
        <% if current_user && current_user.id == @user.id %>
          <%= link_to "Edit Image", "http://www.gravatar.com", target: "_blank" %>
        <% end %>
      </div>

      <!-- Personal Info -->
      <div id="personal" class="main-content">
        <h2 class="ui dividing header" style="margin-top: 7px;">
          Info
        </h2>
        <p class="about">
          <%= @user.about %>
          <% if @user.about.blank? && current_user.id == @user.id %>
            <%= link_to "Add a bit about yourself", edit_user_path %>
          <% end %>
        </p>
        <p>
          <b>Website:</b>
          <%= @user.website.present? ? @user.website : "Not Listed" %>
          <% if @user.website.blank? && current_user.id == @user.id %>
            <%= link_to "Add a website", edit_user_path %>
          <% end %>
        </p>
        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>
        <p>
          <strong>Location:</strong>
          <%= @user.location.present? ? @user.location : "Earth" %>
          <% if @user.about.blank? && current_user.id == @user.id%>
            <%= link_to "Add your location", edit_user_path %>
          <% end %>
        </p>
        <p>
          <b>Member Since:</b>
          <%= @user.created_at.strftime("%B %d, %Y") %>
        </p>
      </div>

      <!-- Favorites -->
      <div id="favorites" class="main-content" style="display: none;">
      <h2 class="ui dividing header" style="margin-top: 7px;">
        <%= total_number_of_favorites(@user) %>
      </h2>
      <% if @user.favorites.any? %>
        <ul>
          <% @user.favorites.each do |f| %>
            <li class="<%= f.favorited_type %>">
              <%= favorited_item_name(f) %>
              <%= link_to favorite_path(favorited_id: f.favorited_id, favorited_type: f.favorited_type), data: { confirm: "Are you sure?" }, method: :delete, class: "pull-right" do %>
                <i class="icon remove" style="color: #e93e3c;"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% else %>
          <div class="ui center aligned">
            <p>None quite yet.
              <% if current_user.id == @user.id %>
                When you star a <%= link_to "theme", themes_path %> or <%= link_to "snippet", snippets_path %>, this is where it will appear
              <% end %>
            </p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>