<% content_for :title do %>
  <%= @user.username %>
<% end %>
<% content_for :subtext do %>
  just so happens to be awesome
<% end %>

<div class="form-wrap card">
  <div class="ui two column grid">
    <div class="column">
      <p><b>About:</b> <%= @user.about %></p>
      <p><b>Website:</b> <%= @user.website %></p>
      <p><b>Email:</b> <%= @user.email %></p>
      <% if current_user && current_user.id == @user.id %>
        <%= link_to "Edit Image", "http://www.gravatar.com" %>
      <% end %>
    </div>
    <div class="column">
      <%= image_tag avatar_url(@user), :class => "right floated ui image" %>
    </div>
  </div>

  <% if current_user && current_user.id == @user.id %>
    <div class="ui section divider"></div>
    <div class="3 fluid ui buttons">
      <%= link_to "Dashboard", dashboard_path, :class => "ui button" %>
      <%= link_to "Edit Profile", edit_user_path, :class => "ui button" %>
      <%= link_to "Sell", new_theme_path, :class => "ui button" %>
    </div>
  <% end %>


</div>