<div class="ui vertical inverted black footer segment">
  <div class="container">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="three wide column">
        <h5 class="ui blue inverted header">Themes</h5>
        <div class="ui inverted link list">
          <%= link_to "View all Themes", semantic_ui_themes_path, class: "item" %>
          <%= link_to "Sell a Theme", new_theme_path, class: "item" %>
          <%= link_to "How it Works", sell_path, class: "item" %>
        </div>
      </div>
      <div class="three wide column">
        <h5 class="ui orange inverted header">Snippets</h5>
        <div class="ui inverted link list">
          <%= link_to "View Snippets", snippets_path, class: "item" %>
          <%= link_to "Create a Snippet", new_snippet_path, class: "item" %>
        </div>
      </div>
      <div class="three wide column">
        <h5 class="ui green inverted header">Expo</h5>
        <div class="ui inverted link list">
          <a class="item">Made with Semantic</a>
          <a class="item">Submit a Site</a>
          <%= link_to "FAQ", faq_path, class: "item" %>
        </div>
      </div>
      <div class="six wide column">
        <h3 class="ui inverted header">Semantic Kit</h3>
        <p></p>
        <p>made with <i class="heart icon"></i> in dc &amp; nyc.</p>
        <p class="terms-privacy">&copy; <%= Time.now.year %> |
          <%= link_to "Terms", terms_path, class: "terms-privacy" %> |
          <%= link_to "Privacy", privacy_policy_path, class: "terms-privacy" %></p>
      </div>
    </div>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28250229-11', 'auto');
  ga('send', 'pageview');

</script>