<div class="ui card top-20">
  <%= link_to theme_path(theme), class: "image" do %>
    <%= image_tag theme.default_image_url %>
  <% end %>
  <div class="content">
    <span class="ui right floated icon price-point">
      <%= number_to_currency(theme.price_list.single_tier, precision: 0) %>
    </span>
    <%= link_to theme.name, theme_path(theme), class: "header" %>
    <div class="meta">
      <span class="time">Released <%= time_ago_in_words(theme.created_at) %> ago</span>
    </div>
  </div>
</div>