<% content_for :title do %>
  Expo
<% end %>
<% content_for :subtext do %>
  Beautiful sites built with Semantic UI
<% end %>

<% content_for :right_content do %>
  <%= link_to new_expo_path do %>
    <div class="ui circular plus icon basic button tooltip" data-content="Submit a site built with Semantic UI" style="margin-top: 15px;">
      <i class="plus large icon"></i>
    </div>
  <% end %>
<% end %>

<hr class="ui hidden divider">

<div class="ui grid">

  <div class="eleven wide column">
    <% @expos.each do |f| %>
      <figure class="effect-sadie">
        <%= image_tag f.image %>
        <figcaption>
          <h2><%= f.title %> <i class="icon angle right"></i></h2>
          <p><%= f.url %></p>
          <%= link_to "View More", f.url, target: "_blank" %>
        </figcaption>
      </figure>
      <hr class="ui divider" style="margin-top: 40px; margin-bottom: 40px;">
    <% end %>
  </div>

  <div class="five wide column">
  </div>

</div>
