<% content_for :title do %>
  Add your site
<% end %>
<% content_for :subtext do %>
<% end %>

<%= form_for @expo do |f| %>

  <% if @expo.errors.any? %>
    <div class="ui red message">
      <div class="header">We noticed some issues</div>
      <ul class="list">
        <% @expo.errors.full_messages.each do |message| %>
          <li id="error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag(:user_id, current_user.id) %>

  <div class="ui form">
    <div class="field">
      <%= f.label :url, "Site URL" %>
      <%= f.url_field :url, placeholder: "ex: http://google.com" %>
    </div>
  <div class="ui form">
    <%= f.submit "Submit", :class => "ui button green" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>