<% content_for :title do %>
  <%= @category.name %>
<% end %>
<% content_for :subtext do %>
  Themes &amp; Templates
<% end %>

<% content_for :categories do %>
  <div class="ui sub secondary pointing menu">
    <%= nav_link "All", semantic_ui_themes_path %>
    <% Category.order(:name).each do |category| %>
      <%= nav_link category.name, category_path(category) %>
    <% end %>
  </div>

  <% if current_page?(admin_dashboard_path) %>
    <div class="ui message">
      <div class="header">
        <%= t(:"admin.theme_index") %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @category.themes.approved.any? %>
  <div class="ui two cards bottom-20">
    <%= render partial: "shared/theme", collection: @category.themes.approved %>
  </div>
<% else %>
  <div class="ui raised segment">
      <%= t(:"categories.no_approved_themes", name: @category.name) %>
      <%= link_to "Create a new one", new_theme_path %>
  </div>
<% end %>