<% content_for :title do %>
  <%= @category.name %>
<% end %>
<% content_for :subtext do %>
  Themes &amp; Templates
<% end %>

<% content_for :categories do %>
  <div class="ui sub secondary pointing menu">
    <%= nav_link "All", themes_path %>
    <% Category.order(:name).each do |category| %>
      <%= nav_link category.name, category_path(category) %>
    <% end %>
  </div>

  <% if current_page?(admin_dashboard_path) %>
    <div class="ui message">
      <div class="header">
        <%= t(:"admin.theme_index") %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @category.themes.approved.any? %>
  <div class="ui grid gallery">
    <div class="two column row">
      <%= render partial: "shared/theme", collection: @category.themes.approved %>
    </div>
  </div>
<% else %>
  <div class="ui raised segment">
    <p><%= t(:"categories.no_approved_themes", name: @category.name) %></p>
  </div>
<% end %>