<tr>
  <td><%= link_to theme.name, theme_path(theme) %></td>
  <td><%= link_to theme.owner.username, user_path(theme.owner.user) %></td>
  <td><%= theme.status %></td>
  <td><%= theme.has_required_elements? %></td>
  <% if theme.approved? %>
    <td></td>
  <% elsif !theme.approved? %>
    <td>
      <%= button_to theme_approval_path(theme), class: "ui tiny blue labeled icon fluid button", method: :put do %>
        Approve
        <i class="checkmark icon"></i>
      <% end %>
    </td>
  <% end %>
</tr>