<div class="ui tiered nav menu">
  <div class="container">
    <%= link_to root_path, :class => 'item' do %>
      <!-- <i class="moon icon"></i> -->
      <b>Semantic</b> UI
    <% end %>
    <%= link_to "Themes", themes_path, class: "item" %>
    <%= link_to "Sell", new_theme_path, class: "item" %>
    <% if current_user.admin? %>
      <%= link_to "Admin Dashboard", admin_dashboard_path, class: "item" %>
    <% end %>
    <div class="right menu">
      <% if current_user %>
        <div class="ui dropdown item">
          <%= current_user.name %><i class="icon dropdown"></i>
          <div class="menu">
            <%= link_to dashboard_path, class: "item" do %>
              <i class="browser icon"></i>View Dashboard
            <% end %>
            <%= link_to account_path, class: "item" do %>
              <i class="settings icon"></i> Account Settings</a>
            <% end %>
            <%= link_to user_path(current_user), class: "item" do %>
              <i class="edit icon"></i>Edit Profile
            <% end %>
            <%= link_to logout_path, class: "item" do %>
              <i class="forward mail icon"></i>Log out
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="ui item"><%= link_to "Sign In", signin_path %></div>
      <% end %>
      <%= link_to "Help", help_path, class: "item" %>
    </div>
  </div>
</div>

<%= yield :subheader %>