<div class="ui tiered nav menu">
  <div class="container">
    <%= link_to root_path, :class => 'item' do %>
      <b>Semantic</b> UI
    <% end %>
    <div class="ui dropdown item">
      <%= link_to "Themes", themes_path%>
      <div class="menu">
        <%= link_to "View All Themes", themes_path, class: "item" %>
        <%= link_to "Sell a Theme", new_theme_path, class: "item" %>
      </div>
    </div>
    <div class="ui dropdown item">
      <a href="#">Snippets</a>
      <div class="menu">
        <a href="#" class="item">View Snippets</a>
        <a href="#" class="item">Create a snippet</a>
      </div>
    </div>
    <div class="ui dropdown item">
      <a href="#">Expo</a>
      <div class="menu">
        <a href="#" class="item">View Gallery</a>
        <a href="#" class="item">Submit a Site</a>
      </div>
    </div>
    <div class="right menu">
      <% if current_user %>
        <div class="ui dropdown item">
          <%= current_user.name %><i class="icon dropdown"></i>
          <div class="menu">
            <%= link_to dashboard_path, class: "item" do %>
              <i class="settings icon"></i>Dashboard
            <% end %>
            <%= link_to user_path(current_user.username), class: "item" do %>
              <i class="browser icon"></i>Profile</a>
            <% end %>
            <%= link_to edit_user_path(current_user), class: "item" do %>
              <i class="pencil icon"></i>Edit
            <% end %>
            <%= link_to logout_path, class: "item" do %>
              <i class="forward mail icon"></i>Log out
            <% end %>
            <% if current_user && current_user.admin? %>
              <%= link_to "Admin Dashboard", admin_dashboard_path, class: "item" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="ui item"><%= link_to "Sign In", signin_path %></div>
        <div class="ui item"><%= link_to "Sign Up", new_user_path %></div>
      <% end %>
    </div>
  </div>
</div>

<%= yield :subheader %>