<!DOCTYPE html>
<html>
<head>
  <title>Semantic Themes</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body class="<%= controller_name %>">
  <div class="sticky-footer-wrapper">

    <%= render 'shared/nav' %>
    <%= render 'shared/subnav' %>

    <div class="container">

      <%= yield :categories %>

      <% if flash[:notice] %>
        <p id="notice" class="ui yellow message"><%= flash[:notice] %></p>
      <% end %>

      <%= yield %>

    </div>
    <div class="push"></div>
  </div><!-- end sticky footer -->

  <%= render 'shared/footer' %>

  <%= yield :javascripts %>
</body>
</html>
