<!DOCTYPE html>
<html>
<head>
  <title>Semantic UI - Themes, Templates &amp; Snippets | Semantic Kit</title>
  <meta name="description" content="The Semantic UI front-end framework is the new kid on the block. Check out our tools and resources to help you make the most out of it.">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body class="<%= controller_name %>-<%= action_name %>">
  <div class="sticky-footer-wrapper">
    <%= render 'shared/nav' %>

    <% if flash[:notice] %>
      <p id="notice" class="ui yellow message"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>

    <div class="push"></div>

  </div>
  <%= render 'shared/footer' %>
</body>
</html>
